{% extends "roll_call/check/check.html"  %}
{% load staticfiles %}

{% block form %}
{% if userMajor == "U56-資訊科學與工程學系學士班" %}
<div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11053373_796434120451818_6292038869189153723_n.jpg?oh=a3475d66951dde9dc22d191451d56008&oe=583FA954" class="visible content">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/p206x206/12065975_908610149176170_9084349184803751174_n.jpg?oh=705d8ccfef36ad4098c3ad8ee71a05a0&oe=584CD738" class="hidden content">
  </div>
  <div class="content">
    <a class="header">西瓜胖子 X 小眼仔</a>
    <div class="meta">
      <span class="date">會長說快繳系學會費!!!</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
{% elif userMajor == "U28-會計學系學士班" %}
<div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/1017433_620472511304682_1234101_n.jpg?oh=7c818dd10f1a8aa9abd1dd80cb6833f6&oe=583C9001" class="visible content">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/1509179_800542056637954_213614627_n.jpg?oh=2ccbea0fbf1a8c19c94f3a8d2193cf65&oe=584F792B" class="hidden content">
  </div>
  <div class="content">
    <a class="header">黑人正副會長二人組</a>
    <div class="meta">
      <span class="date">快繳系學會費!!!</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
{% endif %}
<form class="ui form" action="" method="post">
  {% csrf_token %}
	<div class="ui floating dropdown labeled search icon button">
	  <input type="hidden" name="order">
	  <i class="world icon"></i>
	  <span class="text">選擇點名時段</span>
	  <div class="menu">
	  	<div class="item" data-value="1"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 7:30</div>
	    <div class="item" data-value="2"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 8:30</div>
	    <div class="item" data-value="3"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 10:20</div>
	    <div class="item" data-value="4"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 11:20</div>
	    <div class="item" data-value="5"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 13:30</div>
	    <div class="item" data-value="6"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 14:20</div>
	    <div class="item" data-value="7"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 17:10</div>
	    <div class="item" data-value="8"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 8:00</div>
	    <div class="item" data-value="9"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 8:40</div>
	    <div class="item" data-value="10"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 10:00</div>
	    <div class="item" data-value="11"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 11:20</div>
	    <div class="item" data-value="12"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 12:00</div>
	    <div class="item" data-value="13"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 13:00</div>
	    <div class="item" data-value="14"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 14:30</div>
	    <div class="item" data-value="15"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 17:00</div>
	    <div class="item" data-value="16"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 18:10</div>
	    <div class="item" data-value="17"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 19:25</div>
	    <div class="item" data-value="18"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D3 7:30</div>
	    <div class="item" data-value="19"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D3 9:00</div>
	    <div class="item" data-value="120"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D3 11:30</div>
	  </div>
	</div>	


  <table class="ui inverted green table">
  	<div class="ui grid">
  	  <div class="unstackable">
			  <thead>
			    <tr>
			    <th>ID</th>
			    <th>Name</th>
			    <th>Present</th>
				  </tr>
			  </thead>
  	  </div>
			<tbody>
			{% for s in RCStuL %}
			  <tr>
			    <div class="">
			    	<td>{{s.studentID}}</td>
			    </div>
			    <div class="">
			    	<td>{{s.upperUser.name}}</td>
			    </div>
			    <div class="">
				    <td>
				    	<div class="ui toggle checkbox">
				    	  <input type="checkbox" name={{s}}>
				    	  <label>缺席的才要勾喔</label>
				    	</div>
				    </td>
				  </div>
			  </tr>
			{% endfor %}
			</tbody>
  	</div>
  </table>
  <button class="ui button" type="submit" id="submit">Submit</button>
</form>
{% endblock %}