{% extends "roll_call/check/check.html"  %}
{% load staticfiles %}

{% block form %}
<form class="ui form" action="" method="post">
  {% csrf_token %}
	<div class="ui floating dropdown labeled search icon button">
	  <input type="hidden" name="order">
	  <i class="world icon"></i>
	  <span class="text">選擇點名時段</span>
	  <div class="menu">
	  	<div class="item" data-value="1"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 8:00~8:30</div>
	    <div class="item" data-value="2"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 8:30~9:30</div>
	    <div class="item" data-value="3"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 10:20~10:40</div>
	    <div class="item" data-value="4"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 11:20~13:30</div>
	    <div class="item" data-value="5"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 13:30~14:20</div>
	    <div class="item" data-value="6"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 14:20~17:20</div>
	    <div class="item" data-value="7"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D1 17:20~21:30</div>
	    <div class="item" data-value="8"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 8:00~12:00</div>
	    <div class="item" data-value="9"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 12:00~13:00</div>
	    <div class="item" data-value="10"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 13:00~13:30</div>
	    <div class="item" data-value="11"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 14:30~17:00</div>
	    <div class="item" data-value="12"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 17:00~18:00</div>
	    <div class="item" data-value="13"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 18:00~21:30</div>
	    <div class="item" data-value="14"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 21:30~</div>
	    <div class="item" data-value="15"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 8:00~8:30</div>
	    <div class="item" data-value="16"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 9:00~11:30</div>
	    <div class="item" data-value="17"><img class="ui avatar image" src="{% static 'roll_call/nchu_sg.jpg' %}">D2 11:30~12:00</div>
	  </div>
	</div>	


  <table class="ui inverted green table">
  	<div class="ui grid">
  	  <div class="unstackable">
			  <thead>
			    <tr>
			    <th>ID</th>
			    <th>Name</th>
			    <th>Present</th>
				  </tr>
			  </thead>
  	  </div>
			<tbody>
			{% for s in RCStuL %}
			  <tr>
			    <div class="">
			    	<td>{{s.studentID}}</td>
			    </div>
			    <div class="">
			    	<td>{{s.name}}</td>
			    </div>
			    <div class="">
				    <td>
				    	<div class="ui toggle checkbox">
				    	  <input type="checkbox" name={{s}}>
				    	  <label>缺席的才要勾喔</label>
				    	</div>
				    </td>
				  </div>
			  </tr>
			{% endfor %}
			</tbody>
  	</div>
  </table>
  <button class="ui button" type="submit" id="submit">Submit</button>
</form>
{% endblock %}