{% extends "roll_call/feedback/feedback.html"  %}
{% load staticfiles %}

{% block form %}
{% if userMajor == "U56-資訊科學與工程學系學士班" %}
<div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11053373_796434120451818_6292038869189153723_n.jpg?oh=a3475d66951dde9dc22d191451d56008&oe=583FA954" class="visible content">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/p206x206/12065975_908610149176170_9084349184803751174_n.jpg?oh=705d8ccfef36ad4098c3ad8ee71a05a0&oe=584CD738" class="hidden content">
  </div>
  <div class="content">
    <a class="header">西瓜胖子 X 小眼仔</a>
    <div class="meta">
      <span class="date">會長說快繳系學會費!!!</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
{% elif userMajor == "U28-會計學系學士班" %}
<div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11053373_796434120451818_6292038869189153723_n.jpg?oh=a3475d66951dde9dc22d191451d56008&oe=583FA954" class="visible content">
    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/p206x206/12065975_908610149176170_9084349184803751174_n.jpg?oh=705d8ccfef36ad4098c3ad8ee71a05a0&oe=584CD738" class="hidden content">
  </div>
  <div class="content">
    <a class="header">西瓜胖子 X 小眼仔</a>
    <div class="meta">
      <span class="date">會長說快繳系學會費!!!</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
{% endif %}
<form class="ui reply form" action="" method="post">
{% csrf_token %}
<div class="ui inverted green segment">
  <div class="ui inverted form">
    <div class="inline field">
      <div class="field">
        <textarea name="cmt" placeholder="您的意見是我們前進的動力"></textarea>
      </div>
    </div>
    <button class="ui button" type="submit" id="submit">Submit</button>
  </div>
</div>
</form>
{% endblock %}