<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="active item">Home</a>
    <a class="item" href="">出席狀況</a>
    <a class="item" href="">學員狀況</a>
    <a class="item" href="">意見回應</a>
    <div class="right item">
      {% if request.user.is_authenticated %}
        <h4 class="ui inverted">HI {{request.user}}</h4>
      {% else %}
        <a class="ui inverted button" href="{% url 'customer:login' %}">Log in</a>
      {% endif %}
      <a class="ui inverted button" href="{% url 'customer:logout' %}">Sign Up</a>
    </div>
  </div>
</div>