{% extends "roll_call/base/base.html"  %}
{% load staticfiles %}

{% block eachStyle %}
<link rel="stylesheet" type="text/css" href="{% static 'roll_call/toastr/toastr.css' %}">
{% endblock %}

{% block content %}
  {% block chooseDPT %}
    <form method="get" action="">
      <div class="form-group" id="degree_div">
          <label for="m_career" class="col-xs-2 control-label">學制</label>
          <div class="col-xs-10">
              <select class="form-control" name="m_career" id="m_career" form="register_form">
                  <option value="0">請選擇學制</option>
                  <option value="U">學士班</option>
                  <option value="G">碩士班</option>
                  <option value="D">博士班</option>
                  <option value="R">產專班</option>
                  <option value="W">碩專班</option>
                  <option value="N">進修學士班</option>
              </select>
          </div>
      </div>
      <div class="form-group" id="major_div">
          <label for="major" class="col-xs-2 control-label">系所</label>
          <div class="col-xs-10">
              <select class="form-control" name="major" id="major">
                  <option>請選擇系所</option>
              </select>
          </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  {% endblock %}
  {% block assignTable %}
  {% endblock %}
{% endblock %}

{% block jsblock %}
<script src="{% static 'roll_call/js/assignTeam/dropdown.js' %}"></script>
<script src="{% static 'roll_call/toastr/toastr.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#submit').click(function(){
      toastr.info("提交中請稍候", {timeOut: 2500});
    })
  })
</script>
{% include 'course/js_script_tag.html' %}
{% endblock %}
