{% extends "roll_call/dorm/base.html"  %}
{% load staticfiles %}
{% block title%}興大宿舍{% endblock %}
{% block eachStyle %}
<link rel="stylesheet" href="{% static 'roll_call/module/timeline/css/jquery.timelineMe.css' %}">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}
{% block body %}
<!-- Page Contents 功能簡介 -->
<div class="pusher">
	<div class="ui inverted masthead center aligned segment">
		{% include "roll_call/base/topBar.html" %}

		{% block entryInfo%}
		<div class="ui text container">
		  <h1 class="ui inverted header">
		    興大宿舍
		  </h1>
		  <h2>在FB上面追蹤我們</h2>
		  <div class="ui huge primary button" >
			<a href="https://www.facebook.com/groups/1754992211444234/?notif_t=group_added_to_group&notif_id=1472778428382838" style="color:white">
		  	Get Started<i class="right arrow icon"></i></a> </div>
		</div>
		{% endblock %}

	</div>

	<!--時間軸模組-->
	<section id="timeline" class="section grey lighten-3">
	  <div class="row">
	    <div id="timeline-container-basic" type="text"></div>
	  </div>
	</section>
	<!--時間軸模組-->
	{% block entryContent %}

	<div class="ui grid stackable">
			<div class="row">
					<div class="three wide column"></div>
					<div class="five wide column">
							<div align="left">
									<h5>樓長</h5>
									<div class="ui bulleted list">
									  <div class="item">每層樓都有一間樓長房，需要幫忙就去敲敲他們的門吧</div>
									  <div class="item">
									    <div>服務事項：</div>
									    <div class="list">
									      <div class="item">發車證</div>
												<div class="item">發放冷氣遙控器</div>
									    </div>
									  </div>
										<div class="item">
											<div>宣導事項：</div>
											<div class="list">
												<div class="item">申請網路步驟：
													<div class="list">
														<div class="item">打開瀏覽器輸入：140.120.4.13</div>
														<div class="item">學號欄位請把第1碼改成英文，大學部改成s 碩班改成g 博班改成d 夜校改成n 在職專搬改成w</div>
														<div class="item">密碼請輸入：興大單一簽入系統的密碼</div>
													</div>
												</div>
												<div class="item">每天的流量為5G（上傳 + 下載），超流會斷往，並於凌晨12：00恢復</div>
												<div class="item">禁止使用P2P軟體，如foxy BT彗星等等</div>
											</div>
										</div>
									</div>
							</div>
					</div>
					<div class="five wide column">
							<div align="center">
									<img class="ui small image" src="{% static 'roll_call/img/worker.svg' %}">
							</div>
					</div>
					<div class="three wide column"></div>
			</div>
			<div class="row">
					<div align="center">
							<img style="visibility:hidden;" class="ui tiny image" src="{% static 'roll_call/GitHub-52.png' %}">
					</div>
			</div>
			<div class="row">
					<div class="three wide column"></div>
					<div class="five wide column">
							<div align="left">
									<h5>網管</h5>
									<div class="ui bulleted list">
									  <div class="item">一群帥氣的 <del>宅男</del> 技術人員</div>
									  <div class="item">
									    <div>服務事項：</div>
									    <div class="list">
									      <div class="item">解決網路連線問題</div>
												<div class="item">對違反宿舍規定的住宿生進行斷網處罰</div>
									    </div>
									  </div>
										<div class="item">
											<div>宣導事項：</div>
											<div class="list">
												<div class="item">申請網路步驟：
													<div class="list">
														<div class="item">打開瀏覽器輸入：140.120.4.13</div>
														<div class="item">學號欄位請把第1碼改成英文，大學部改成s 碩班改成g 博班改成d 夜校改成n 在職專搬改成w</div>
														<div class="item">密碼請輸入：興大單一簽入系統的密碼</div>
													</div>
												</div>
												<div class="item">每天的流量為5G（上傳 + 下載），超流會斷往，並於凌晨12：00恢復</div>
												<div class="item">禁止使用P2P軟體，如foxy BT彗星等等</div>
											</div>
										</div>
									</div>
							</div>
					</div>
					<div class="five wide column">
						<div align="center">
							<img class="ui small image" src="{% static 'roll_call/img/employee.svg' %}">
						</div>
					</div>
					<div class="three wide column"></div>
			</div>
			<div class="row">
					<div align="center">
							<img style="visibility:hidden;" class="ui tiny image" src="{% static 'roll_call/GitHub-52.png' %}">
					</div>
			</div>
			<div class="row">
					<div class="three wide column"></div>
					<div class="five wide column">
							<div align="left">
									<h5>財務委員</h5>
									<div class="ui bulleted list">
									  <div class="item">一群帥氣的 <del>宅男</del> 技術人員</div>
									  <div class="item">
									    <div>服務事項：</div>
									    <div class="list">
									      <div class="item">解決網路連線問題</div>
												<div class="item">對違反宿舍規定的住宿生進行斷網處罰</div>
									    </div>
									  </div>
										<div class="item">
											<div>宣導事項：</div>
											<div class="list">
												<div class="item">申請網路步驟：
													<div class="list">
														<div class="item">打開瀏覽器輸入：140.120.4.13</div>
														<div class="item">學號欄位請把第1碼改成英文，大學部改成s 碩班改成g 博班改成d 夜校改成n 在職專搬改成w</div>
														<div class="item">密碼請輸入：興大單一簽入系統的密碼</div>
													</div>
												</div>
												<div class="item">每天的流量為5G（上傳 + 下載），超流會斷往，並於凌晨12：00恢復</div>
												<div class="item">禁止使用P2P軟體，如foxy BT彗星等等</div>
											</div>
										</div>
									</div>
							</div>
					</div>
					<div class="five wide column">
							<div align="center">
									<img class="ui small image" src="{% static 'roll_call/img/man.svg' %}">
							</div>
					</div>
					<div class="three wide column"></div>
			</div>

	</div>
	<div class="row">
			<div align="center">
					<img style="visibility:hidden;" class="ui tiny image" src="{% static 'roll_call/GitHub-52.png' %}">
			</div>
	</div>
	{% endblock %}

</div>
{% endblock %}
{% block jsblock %}
<script src="{% static 'roll_call/module/timeline/js/jquery.timelineMe.js' %}"></script>
<script src="{% static 'roll_call/js/timeline.js' %}"></script>
{% endblock %}
