{% extends "roll_call/base/base.html"  %}
{% load staticfiles %}

{% block body %}
<!-- Page Contents 功能簡介 -->
<div class="pusher">
	<div class="ui inverted masthead center aligned segment">
		{% include "roll_call/base/topBar.html" %}

		{% block entryInfo%}
		<div class="ui text container">
		  <h1 class="ui inverted header">
		    興大宿舍
		  </h1>
		  <h2>在FB上面追蹤我們</h2>
		  <div class="ui huge primary button" >
			{% if request.user.is_authenticated %}
				<a href="{% url 'roll_call:entry' %}" style="color:white">
			{% else %}
				<a href="/zh-tw/accounts/login/?next=/roll_call/" style="color:white">
			{% endif %}
		  	Get Started<i class="right arrow icon"></i></a> </div>
		</div>
		{% endblock %}

	</div>

	{% block entryContent %}
	<!-- 這裡放 子網頁連結-->
	<div class="ui grid">
		<div class="two wide column"></div>
		<div class="twelve wide column">
			<div class="ui three special stackable cards" style="margin:1px auto;width: 85%;">
				<div class="card stackable">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center" style="font-size: 1.5em;">
                                    <div class="ui inverted clock_black" style="font-size: 1em;line-height:1.5em;color:black;">
                                         <h2>每次到了選課就頭痛嗎？</h2>
                                         <h2>用小幫手讓你事半功倍吧</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'entry/img/calendar.svg' %}">
                    </div>
                    <div class="content">
                        <a class="header text_center" href="{% url 'course:course_zh_TW' %}"><h1 align='center'>選課小幫手</h1></a>
                    </div>
                </div>
                <div class="card stackable">
                	<div class="blurring dimmable image">
                		<div class="ui inverted dimmer">
                			<div class="content">
                				<div class="center">
                					<div class="ui primary clock_black" style="font-size: 1.5em;line-height:1.5em;color:black;">您的意見是我們前進的動力
                					</div>
                				</div>
                			</div>
                		</div>
                		<img src="{% static 'roll_call/img/pen.svg' %}">
                	</div>
                	<div class="content">
                		<a class="header text_center" href="{% url 'roll_call:feedback' key=0 %}">意見回應</a>
                	</div>
                </div>
				<div class="card stackable">
					<div class="blurring dimmable image">
						<div class="ui inverted dimmer">
							<div class="content">
								<div class="center">
									<div class="ui primary clock_black" style="font-size: 1.5em;line-height:1.5em;color:black;">
										看看你們的新家吧
									</div>
								</div>
							</div>
						</div>
						<img src="{% static 'roll_call/img/pikachu.svg' %}">
					</div>
					<div class="content">
						<a class="header text_center" href="{% url 'roll_call:status' key=0 %}">宿舍環境介紹</a>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div align="center">
					<img style="visibility:hidden;" class="ui Mini image" src="{% static 'roll_call/GitHub-52.png' %}">
				</div>
			</div>
		</div>
		<div class="two wide column"></div>		
	</div>
	{% endblock %}
	
</div>
{% endblock %}